.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 70%;
  margin: auto;
}

h1 {
  color: #000000;
  font-size: 32px;
}

span {
  color: #5380ea;
  font-size: 32px;
}

.title {
  margin-top: 81px;
}

.btn-wrapper {
  display: grid;
  grid-gap: 20px;
}
